@import "~bootstrap/scss/bootstrap.scss";

body{
    background-color: #5db8c1;
}

li{
    margin-top: 5px;
    margin-bottom: 5px;
}
ul{
    
     margin-top: 10px;
}

h1 {
    font-size: 50px;
    color: white;
}
.tareas {
    background-color: powderblue;
}

ul li {
    color: white;
    border-color: #5db8c1;
    font-size: 20px;
}

.fa, .fas  {
    color: #fbfb38;
}

.itemsLeft {
    color: white;
}